/* .editor-panel-control button img {
    width: 20px;
    height: 20px;

} */


.main-editor {
    padding: 10px;
    justify-content: center;
    background-color: var(--clr2);
}

.editor-panel-control button, .editor-panel-control input {
    padding: 0;
}

.canvas-container {
    border: 10px ridge var(--clr3);
    border-width: 10px 0 10px 10px
}

#my-canvas {
    padding: 10px;
    padding-top: 12px;
}

.editor-panel-control section input {
    padding: 0;
    width: 50px;
    height: 50px;
    border: none;
}

.editor-grid-container {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px;
    gap: 10px;
    padding: 10px;
    border: 10px ridge var(--clr3);
    border-width: 10px 10px 10px 0;
}

.btn0 {
    grid-column: 1/5;
}

.btn1 {
    grid-column: 2;
    grid-row: 2;
}

.btn2 {
    grid-column: 3;
    grid-row: 2;
}

.btn3 {
    grid-column: 4;
    grid-row: 2;
}

.btn4 {
    grid-column: 2;
    grid-row: 3;
}

.btn5 {
    grid-column: 3;
    grid-row: 3;
}

.btn6 {
    grid-column: 4;
    grid-row: 3;
}

.btn-container7 {
    grid-column: 2;
    grid-row: 4;
}

.btn-container8 {
    grid-column: 3;
    grid-row: 4;
}

.btn9 {
    grid-column: 4;
    grid-row: 4;
}

.btn10 {
    grid-column: 4;
    grid-row: 5;
}

.btn12 {
    grid-column: 1;
    grid-row: 4;
}

/* mq */


@media (max-width:600px) {

    .main-editor {
        flex-direction: column;
    }

    .editor-grid-container {
        margin: auto;
        padding: 10px 45px;
        border-width: 0 10px 10px 10px;
    }

    .canvas-container {
        margin: auto;
        border-width: 10px 10px 0 10px
    }
}