/* .editor-panel-control button img {
    width: 20px;
    height: 20px;

} */


.main-editor {
    padding: 10px;
    justify-content: center;
    background-color: var(--clr2);
}

.editor-panel-control button, .editor-panel-control input {
    padding: 0;
}

.canvas-container {
    border: 10px ridge var(--clr3);
    border-width: 10px 0 10px 10px
}

#my-canvas {
    padding: 10px;
    padding-top: 12px;
}

.editor-panel-control section input {
    padding: 0;
    margin-top: 7px;
    width: 50px;
    height: 50px;
    border: none;
}

.editor-grid-container {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px;
    gap: 10px;
    padding: 10px;
    border: 10px ridge var(--clr3);
    border-width: 10px 10px 10px 0;
}

.text-input-btn {
    grid-column: 1/5;
}

.new-line-btn {
    grid-column: 2;
    grid-row: 2;
}

.switch-lines-btn {
    grid-column: 3;
    grid-row: 2;
}

.delete-line-btn {
    grid-column: 4;
    grid-row: 2;
}

.save-meme {
    grid-column: 2;
    grid-row: 5;
}

.download-meme {
    grid-column: 3;
    grid-row: 5;
}

.btn6 {
    grid-column: 4;
    grid-row: 3;
}

.fill-color-text-btn {
    grid-column: 1;
    grid-row: 3;
}

.stroke-color-text-btn {
    grid-column: 2;
    grid-row: 3;
}

.increase-text-size-btn {
    grid-column: 3;
    grid-row: 3;
}

.decrease-text-size-btn {
    grid-column: 3;
    grid-row: 4;
}

.font-text-btn {
    grid-column: 4;
    grid-row: 3;
}

.share-Fb-Btn{
    grid-column: 4;
    grid-row: 5;
}

/* mq */


@media (max-width:600px) {

    .main-editor {
        flex-direction: column;
    }

    .editor-grid-container {
        margin: auto;
        padding: 10px 45px;
        border-width: 0 10px 10px 10px;
    }

    .canvas-container {
        margin: auto;
        border-width: 10px 10px 0 10px
    }
}