
.main-editor {
    padding: 10px;
    justify-content: center;
    background-color: var(--clr2);
    border: 15px ridge var(--clr5);
    border-width: 15px 0;
}

.editor-panel-control button, .editor-panel-control input {
    border-radius: 5px;
    padding: 0;
    background-color: var(--clr2);
}

.editor-panel-control button,.editor-panel-control section input {
    cursor: pointer;
}

.editor-panel-control button:not(.saved-memes-btn) img{
    padding: 10px;
}

.editor-panel-control input{
    padding: 10px;
}

.canvas-container {
    border: 10px ridge var(--clr3);
    border-width: 10px 0 10px 10px;
    background-color: var(--clr4);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#my-canvas {
    padding: 10px;
    padding-top: 12px;
}

.editor-panel-control section input {
    padding: 0;
    margin-top: 6px;
    margin-left: 3px;
    width: 45px;
    height: 48px;
    border: none;
}

.editor-grid-container {
    display: grid;
    background-color: var(--clr4);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px;
    gap: 10px;
    padding: 10px;
    border: 10px ridge var(--clr3);
    border-width: 10px 10px 10px 0;
}

.text-input-btn {
    grid-column: 1/5;
}

.new-line-btn {
    grid-column: 2;
    grid-row: 2;
}

.switch-lines-btn {
    grid-column: 3;
    grid-row: 2;
}

.delete-line-btn {
    grid-column: 4;
    grid-row: 2;
}

.save-meme {
    grid-column: 2;
    grid-row: 5;
}

.download-meme {
    grid-column: 3;
    grid-row: 5;
}

.fill-color-text-btn {
    grid-column: 1;
    grid-row: 3;
    cursor: default;
}

.stroke-color-text-btn {
    grid-column: 2;
    grid-row: 3;
    cursor: default;
}

.stroke-color-text-btn-bg{
    grid-column: 2;
    grid-row: 3/span 2;
    cursor: default;
}

.fill-color-text-btn-bg{
    grid-column: 1;
    grid-row: 3/span 2;
    cursor: default;
}

.text-size-btns{
    grid-column: 3;
    grid-row: 3/span 2;
    width: 90%;
    margin:  0 auto ;
}

.increase-text-size-btn {
    grid-column: 3;
    grid-row: 3;
}

.decrease-text-size-btn {
    grid-column: 3;
    grid-row: 4;
}

.font-text-btn {
    grid-column: 4;
    grid-row: 3;
}

.share-Fb-Btn{
    grid-column: 4;
    grid-row: 5;
}

.saved-memes-btn{
    grid-column: 1;
    grid-row: 5;
}

.saved-memes-btn img{
    padding: 0;
    width: 43px;
    height: 43px;
    margin-left: -2px;
}
/* mq */


@media (max-width:600px) {

    .main-editor {
        flex-direction: column;
    }

    .editor-grid-container {
        margin: auto;
        padding: 10px 45px;
        border-width: 0 10px 10px 10px;
        border-top-right-radius:  0;
        border-bottom-left-radius:  10px;
    }

    .canvas-container {
        margin: auto;
        border-top-right-radius:  10px;
        border-bottom-left-radius:  0;
        border-width: 10px 10px 0 10px
    }
}