.footer-cotant{
    background-color: var(--clr3);
}

.about-me-img{
    width: 40vw;
    border-radius: 50%;
}

.about-me{
    width: 80%;
    margin: auto;
    text-align: start;
}

.about-me>*{
    padding: 10px;
}

.main-footer{
    text-align: center;
}

.footer-sub{
    background-color: var(--clr1);
    height: 20px;
}