.main-header {
    background-color: var(--clr1);
    height: 100px;
    width: 100%;
}

.logo {
    margin: auto;
    width: 400px;
    color: var(--clr2);
}

/* mq */

@media (max-width:600px) {

    .logo {
        width: 300px;
    }
}