.main-header{
    background-color: var(--clr1);
    height: 100px;
    width: 100%;
}

.logo{
    margin: auto;
    width: 400px;
    /* padding: 0.21875rem 0 0 0.5rem; */
    color: var(--clr2);
}



/* mq */

